.addItem-container {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .addItem-container {
        width: 100%;
    }

    .addItem-container input, textarea {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}